.Button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    min-height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    border: 0;
    font-family: var(--font-family);
    background: var(--background-color);
    color: var(--text-color);
}

.Button-reverse {
    background: var(--element-color);
    color: var(--element-text-color);
}

.Button-disabled {
    opacity: 0.5;
    cursor: auto;
}
