.Game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background: var(--background-color);
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.Game-hood {
    position: relative;
}

.Game-score {
    position: absolute;
    left: 16px;
    transform: translateY(calc(-100% - 16px));
    text-align: left;
}

.Game-timer {
    position: absolute;
    right: 16px;
    transform: translateY(calc(-100% - 16px));
    text-align: right;
}

.Game-canvas {
    image-rendering: pixelated;
}

.Game-faq {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    bottom: -16px;
    right: 50%;
    transform: translateY(100%) translateX(50%);
    gap: 10px;
    width: 100%;
    padding: 0 16px;
}

.Game-closeIcon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.Game-over {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--background-color);
    box-shadow: 0 0 20px 40px var(--background-color);
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    gap: 10px;
}
