.Game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.Game-canvas {
    image-rendering: pixelated;
}

.Game-closeIcon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.Game-over {
    position: absolute;
    color: var(--text-color);
}
