:root {
    --filling: 0%;
}

.Farm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 100%;
    border-radius: 24px;
    background: var(--element-color);
    color: var(--element-text-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.Farm-container::after {
    content: "";
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--filling);
    position: absolute;
    background: var(--background-color);
    opacity: 0.5;
}

.Farm-active {
    background: var(--accent-color);
}
