@font-face {
    font-family: "Karmatic Arcade";
    src: url(../public/ka1.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: "Karmatic Arcade", sans-serif;
}

* {
    box-sizing: border-box;
}
